USE [master]
GO
/****** Object:  Database [NhanDangCongVan]    Script Date: 08-Jun-18 3:37:33 PM ******/
CREATE DATABASE [NhanDangCongVan]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'NhanDangCongVan', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL12.MSSQLSERVER\MSSQL\DATA\NhanDangCongVan.mdf' , SIZE = 4096KB , MAXSIZE = UNLIMITED, FILEGROWTH = 1024KB )
 LOG ON 
( NAME = N'NhanDangCongVan_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL12.MSSQLSERVER\MSSQL\DATA\NhanDangCongVan_log.ldf' , SIZE = 1536KB , MAXSIZE = 2048GB , FILEGROWTH = 10%)
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [NhanDangCongVan].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [NhanDangCongVan]
GO
/****** Object:  User [mchiensd]    Script Date: 08-Jun-18 3:37:33 PM ******/
CREATE USER [mchiensd] WITHOUT LOGIN WITH DEFAULT_SCHEMA=[dbo]
GO
ALTER ROLE [db_owner] ADD MEMBER [mchiensd]
GO
/****** Object:  Table [dbo].[OFFICIAL_CORRESPONDENCE]    Script Date: 08-Jun-18 3:37:33 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[OFFICIAL_CORRESPONDENCE](
	[IDCV] [int] IDENTITY(1,1) NOT NULL,
	[SendCV] [nvarchar](550) NULL,
	[NumberCV] [nvarchar](150) NULL,
	[Place] [nvarchar](350) NULL,
	[TodoCV] [nvarchar](550) NULL,
	[GiveToCV] [nvarchar](550) NULL,
	[ContentCV] [nvarchar](max) NULL,
	[RecivedCV] [nvarchar](550) NULL,
	[OrImage] [nvarchar](max) NULL,
	[ImageSpan] [nvarchar](max) NULL,
 CONSTRAINT [PK_OFFICIAL_CORRESPONDENCE] PRIMARY KEY CLUSTERED 
(
	[IDCV] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
SET IDENTITY_INSERT [dbo].[OFFICIAL_CORRESPONDENCE] ON 

SET IDENTITY_INSERT [dbo].[OFFICIAL_CORRESPONDENCE] OFF
USE [master]
GO
